{% extends "base.html" %}

{% block content %}
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold py-4 font-title">Se rendre au domaine</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>

        {% set image = resize_image(path="img/bug.jpg", height=400, op="fit_height") %}
        <img class="rounded-lg" src="{{ image.url }}" />
        <h2 class="text-2xl font-bold mb-2">En voiture</h2>
        <p class="mb-2">Le Domaine des Evis est accessible en 2h15 de route depuis Paris.</p>
        <p class="mb-2">Google Maps <a href="#" class="underline">[LINK]</a></p>
        <p>Je propose des places disponibles dans ma voiture <a href="#" class="underline">[LINK]</a></p>
      </div>
      <div>
        {% set image = resize_image(path="img/train2.jpg", height=400, op="fit_height") %}
        <img class="rounded-lg" src="{{ image.url }}" heigh="156px" width: "234px" class="overflow-hidden w-full">
        <h2 class="text-2xl font-bold mb-2">En train</h2>
        <p class="mb-2">La gare de Verneuil-Sur-Avre​ se situe à 12min de voiture du domaine.</p>
        <ul class="list-disc list-inside mb-2">
          <li>Je cherche un covoiturage avec d'autres participants <a href="#" class="underline">[LINK]</a></li>
          <li>Taxi local : +33 2 32 32 11 96 (Alizé Taxi)</li>
          <li>Réservez à l'avance!</li>
          <li>Uber n'est pas disponible dans la région.</li>
        </ul>
      </div>
        <div>
            {% set image = resize_image(path="img/taxi.jpeg", height=400, op="fit_height") %}
            <img class="rounded-lg" src="{{ image.url }}" />
          <h2 class="text-2xl font-bold mb-2">Retour de soirée</h2>
          <p class="mb-2">Une navette sera disponible la nuit du samedi entre 00h et 04h pour vous ramener à votre logement dans un rayon de 15min autour du lieu de la fête.</p>
        </div>
    </div>
  </div>

  <div class="bg-wd-light py-8">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold text-center font-title py-4">Domaine des Evis</h1>
      <div class="rounded-lg text-center overflow-hidden mb-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2635.858595141613!2d0.8911023767771545!3d48.65082027130469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3d9995508bc49%3A0x2c3f7226f7e97507!2sDomaine%20des%20Evis!5e0!3m2!1sfr!2snl!4v1737150310213!5m2!1sfr!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <h1 class="text-4xl font-bold font-title py-4">Se loger dans les environs</h1>
            <p class="mb-4">Une grande variété de logements sont présents dans les environs du domaine des Evis.</p>
            <p class="mb-4">Nous vous conseillons de réserver un logement à Verneuil-sur-Avre ou dans les environs du domaine des Evis.</p>
            <p class="mb-4">Voici un liste de logements qui nous ont été recommandés:</p>
            <ul class="list-disc list-inside">
                <li>Manoir des Tuileries du Buisson (<a href="https://www.booking.com/hotel/fr/les-tuileries-du-buisson.fr.html" class="underline">Booking</a>)</li>
                <li>Hotel Le Saumon (<a href="https://www.booking.com/hotel/fr/du-saumon-verneuil-sur-avre.fr.html" class="underline">Booking</a>)</li>
                <li>L'orée du perche (<a href="https://www.airbnb.fr/rooms/818849325118913351?source_impression_id=p3_1737539303_P32JW536zGVYOvaQ" class="underline">Airbnb</a>)</li>
                <li>Gîte : L'invit' 9-11 voyageurs (<a href="https://www.airbnb.fr/rooms/852148794996305506?source_impression_id=p3_1737539352_P3ji3yN9FUs1RQhN" class="underline">Airbnb</a>)</li>
                <li>La grange Mirabelle  8 voyageurs (<a href="https://www.airbnb.fr/rooms/774694580053224087?source_impression_id=p3_1737539396_P3k69e3N8uVKBsfe" class="underline">Airbnb</a>)</li>
                <li>Gite Du Haut brou 4 voyageurs (<a href="https://www.airbnb.fr/rooms/23674871" class="underline">Airbnb</a>)</li>
                <li>Chez Mamisa 4 voyageurs (<a href="https://www.booking.com/hotel/fr/chez-mamisa-calme-amp-nature-pullay.fr.html" class="underline">Booking</a>)</li>
                <li>Demeure d'hôte de la Courangère 14 voyageurs (<a href="https://www.airbnb.fr/rooms/13349845" class="underline">Airbnb</a>)</li>
            </ul>
            <p class="mb-4">De nombreux autres logements sont disponibles sur Booking et Airbnb.</p>
            <p class="mb-4">Pensez à réserver rapidement!</p>
        </div>
        <div>
            {% set image = resize_image(path="img/logements.png", height=600, op="fit_height") %}
            <img class="rounded-lg" src="{{ image.url }}" />
        </div>

  </div>

  <div class="container mx-auto px-4 py-8">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            {% set image = resize_image(path="img/perche.jpg", height=600, op="fit_height") %}
            <img class="rounded-lg" src="{{ image.url }}" />
        </div>
        <div>
            <h1 class="text-4xl font-bold font-title py-4">Visiter le perche</h1>
            <p class="mb-4">Le perche est une fabuleuse région a découvrir. Voici quelques points d'intérêt  notables:</p>
            <ul class="list-disc list-inside">
              <li>Mortagne-au-Perche</li>
              <li>Belleme</li>
              <li>Le parc naturel regional du Perche</li>
              <li>Nogent-le-Rotrou</li>
            </ul>
            <p class="mb-4">RDV sur le sites suivant pour plus d'informations:</p>
            <ul class="list-disc list-inside">
              <li><a href="https://www.normandie-tourisme.fr/les-incontournables/le-perche/" class="underline">https://www.normandie-tourisme.fr/les-incontournables/le-perche/</a></li>
              <li><a href="http://www.perche-tourisme.fr/" class="underline">http://www.perche-tourisme.fr/</a></li>
            </ul>
        </div>
    </div>
  </div>

{% endblock content %}
