{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-5xl font-bold text-center mb-8">
        Se rendre au domaine
    </h1>
    <div class="mb-8">
        <h2 class="text-3xl font-bold mb-4">
            En voiture
        </h2>
        <p class="text-lg mb-4">
            Le Domaine des Evis est accessible en 2h15 de route depuis Paris.
        </p>
        <p class="text-lg mb-4">
            <a href="#" class="text-blue-500 hover:underline">Google Maps</a>
        </p>
        <p class="text-lg">
            Je propose des places disponibles dans ma voiture <a href="#" class="text-blue-500 hover:underline">[LINK]</a>
        </p>
    </div>
    <div class="mb-8">
        <h2 class="text-3xl font-bold mb-4">
            En train
        </h2>
        <p class="text-lg mb-4">
            La gare de Verneuil-Sur-Avre se situe à 12min de voiture du domaine.
        </p>
        <ul class="list-disc pl-5 mb-4">
            <li>
                Je cherche un covoiturage avec d'autres participants <a href="#" class="text-blue-500 hover:underline">[LINK]</a>
            </li>
            <li>
                Taxi local : +33 2 32 32 11 96 (Alizé Taxi)
            </li>
            <li>
                Réservez à l'avance!
            </li>
            <li>
                Uber n'est pas disponible dans la région.
            </li>
        </ul>
    </div>
    <div class="mb-8">
        <h2 class="text-3xl font-bold mb-4">
            Retour de soirée
        </h2>
        <p class="text-lg">
            Une navette sera disponible la nuit du samedi entre 00h et 04h pour vous ramener à votre logement dans un rayon de 15min autour du lieu de la fête.
        </p>
    </div>
</div>
<div class="bg-gray-100 py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl font-bold text-center mb-8">
            Domaine des Evis
        </h1>
        <div class="flex justify-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2635.858595141613!2d0.8911023767771545!3d48.65082027130469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3d9995508bc49%3A0x2c3f7226f7e97507!2sDomaine%20des%20Evis!5e0!3m2!1sfr!2snl!4v1737150310213!5m2!1sfr!2snl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrerpolicy-when-downgrade"></iframe>
        </div>
    </div>
</div>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-5xl font-bold text-center mb-8">
        Se loger dans les environs
    </h1>
    <p class="text-lg mb-4">
        Une grande variété de logements sont présents dans les environs du domaine des Evis.
    </p>
    <p class="text-lg mb-8">
        Nous vous conseillons deréserver un logement à Verneuil-sur-Avre ou dans les environs du domaine des Evis.
    </p>
    <p class="text-lg mb-8">
        Voici unliste de logements qui nousontété recommands:
    </p>
    <ul class="list-disc pl-5 mb-8">
        <li>Manoir des Tuileries du Buisson (Booking)</li>
        <li>Hotel Le Saumon (Booking)</li>
        <li>L'orée du perche (Airbnb: chambre 1, chambre 2, chambre 3)</li>
        <li>Gîte : L'invit' 9-11 voyageurs (Airbnb)</li>
        <li>La grange Mirabelle 8 voyageurs (Airbnb)</li>
        <li>Gite DuHaubrou 4 voyageurs (Airbnb)</li>
        <li>ChezMamisa 4 voyageurs (Airbnb)</li>
        <li>Demeured'hôte de la Courangère 14 voyageurs (Airbnb)</li>
    </ul>
    <p class="text-lg mb-4">
        De nombreux autres logements sont disponibles sur Booking et Airbnb.
    </p>
    <p class="text-lg">
        Pensez à réserver rapidement!
    </p>
</div>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-5xl font-bold text-center mb-8">
        Visiter le perche
    </h1>
    <p class="text-lg mb-4">
        Le perche est une fabuleuse région a découvert. Voici quelques points d'itérêt notables:
    </p>
    <ul class="list-disc pl-5 mb-8">
        <li>Mortagne-au-Perche</li>
        <li>Belleme</li>
        <li>Le parc naturel regional du Perche</li>
        <li>Nogent-le-Rotrou</li>
    </ul>
    <p class="text-lg mb-4">
        RDV sur les sites suivants pour plus d'information:
    </p>
    <ul class="list-disc pl-5">
        <li><a href="https://www.normandie-tourisme.fr/les-incontournables/le-perche/" class="text-blue-500 hover:underline">https://www.normandie-tourisme.fr/les-incontournables/le-perche/</a></li>
        <li><a href="http://www.perche-tourisme.fr/" class="text-blue-500 hover:underline">http://www.perche-tourisme.fr/</a></li>
    </ul>
</div>
{% endblock content %}
