{% extends "base.html" %}

{% block content %}
  <div class="w-full relative h-full">
    <img src="{{ get_url(path="img/cucu.jpg") | safe }}" alt="Venue" class="rounded-lg w-full max-h-[600px] object-cover blur-[3px]">
    <h1 class="text-xl md:text-5xl font-title text-white w-full font-bold p-4 text-center absolute top-0 md:top-5">Marion et Nicolas</h1>
  <div class="w-full absolute text-center top-20 md:top-1/2">
    <a href="/rsvp" class="py-4 px-10 bg-blue-500 font-title font-bold text-white text-2xl rounded-lg shadow-lg hover:bg-blue-600 transition duration-300">RSVP</a>
  </div>
    <div class="px-5 md:px-20 py-10 bg-wd text-white"> 
        <h2 class="text-2xl text-center font-title font-bold mb-4">Programme</h2>
        <p class="text-bold text-xl">Samedi 20 Septembre 2025 - 16h</p>
        <p class="mb-4">La cérémonie aura lieu à 16h et sera suivie du vin d'honneur puis de la réception.</p>
        <p class="text-bold text-xl">Dimanche 21 Septembre 2025 - 12h</p>
        <p>Nous nous retrouverons au domaine à partir de 12h pour un déjeuner.</p>
    </div> 
  </div>
{% endblock content %}
